# Data-Visualization
## Plotly

Plotly is a powerful Python library for creating interactive, web-based visualizations.
It‚Äôs built on JavaScript, HTML, and CSS under the hood ‚Äî which means it renders plots as interactive web components in notebooks, dashboards, or browsers.

- You can zoom, hover, filter, and click inside your plots ‚Äî which is why it‚Äôs ideal for:

- Dashboards

- Business reporting

- Exploratory data analysis with large datasets

‚öôÔ∏è Key Features of Plotly:
- üìä Interactive charts (line, bar, scatter, heatmaps, 3D plots, etc.)

- üñ±Ô∏è Hover info, zoom, pan, sliders, dropdowns built-in

- üåê Can be exported as HTML or embedded in web apps

- üíº Often used in production-grade tools like Dash

In [15]:
import pandas as pd 
import plotly.express as px
import matplotlib.pyplot as plt
import nbformat

In [3]:
df1 = pd.read_excel('D:\Btech_CS\Python\Data_Visualization\online_retail_II.xlsx', sheet_name='Year 2009-2010')
df2 = pd.read_excel('D:\Btech_CS\Python\Data_Visualization\online_retail_II.xlsx', sheet_name='Year 2010-2011')

<>:1: SyntaxWarning: invalid escape sequence '\B'
<>:2: SyntaxWarning: invalid escape sequence '\B'
<>:1: SyntaxWarning: invalid escape sequence '\B'
<>:2: SyntaxWarning: invalid escape sequence '\B'
C:\Users\darzu\AppData\Local\Temp\ipykernel_5164\1713999042.py:1: SyntaxWarning: invalid escape sequence '\B'
  df1 = pd.read_excel('D:\Btech_CS\Python\Data_Visualization\online_retail_II.xlsx', sheet_name='Year 2009-2010')
C:\Users\darzu\AppData\Local\Temp\ipykernel_5164\1713999042.py:2: SyntaxWarning: invalid escape sequence '\B'
  df2 = pd.read_excel('D:\Btech_CS\Python\Data_Visualization\online_retail_II.xlsx', sheet_name='Year 2010-2011')

In [20]:
df = pd.concat([df1, df2], ignore_index=True)

In [21]:
df['Revenue'] = df['Quantity'] * df['Price']
df['Month'] = df['InvoiceDate'].dt.month
df_sample = df[['Quantity', 'Price', 'Revenue', 'Country', 'Month']].copy()

In [22]:
monthly_rev = df_sample.groupby('Month')['Revenue'].sum().reset_index()
monthly_rev.head()

   Month      Revenue
0      1  1184033.152
1      2  1031154.076
2      3  1449115.841
3      4  1083787.553
4      5  1338656.340