## More string Manuplation in Pandas

In [3]:
import pandas as pd

In [4]:
data = {
    'Name' : [
        'Monal K', 'Bhuvika', 'Niranjan', 'riyan'
    ],
    'Email' : [
        'm@gmail.com', 'b@gmail.com', 'n@gmail.com', 'r@gmail.com'
    ]
}

df = pd.DataFrame(data)

In [5]:
df.head()

       Name        Email
0   Monal K  m@gmail.com
1   Bhuvika  b@gmail.com
2  Niranjan  n@gmail.com
3     riyan  r@gmail.com

In [6]:
df['Name'].str.replace('K', 'Kumar', regex=False)

0    Monal Kumar
1        Bhuvika
2       Niranjan
3          riyan
Name: Name, dtype: object

- Padding

In [8]:
df['Name'].str.pad(width=20, side='left', fillchar='-')

0    -------------Monal K
1    -------------Bhuvika
2    ------------Niranjan
3    ---------------riyan
Name: Name, dtype: object

In [9]:
df['Name'].str.pad(width=20, side='right', fillchar='-')

0    Monal K-------------
1    Bhuvika-------------
2    Niranjan------------
3    riyan---------------
Name: Name, dtype: object

## Customization