## More string Manuplation in Pandas

In [4]:
import pandas as pd

In [5]:
data = {
    'Name' : [
        'Monal K', 'Bhuvika', 'Niranjan', 'riyan'
    ],
    'Email' : [
        'm@gmail.com', 'b@gmail.com', 'n@gmail.com', 'r@gmail.com'
    ]
}

df = pd.DataFrame(data)

In [6]:
df.head()

       Name        Email
0   Monal K  m@gmail.com
1   Bhuvika  b@gmail.com
2  Niranjan  n@gmail.com
3     riyan  r@gmail.com

In [7]:
df['Name'].str.replace('K', 'Kumar', regex=False)

0    Monal Kumar
1        Bhuvika
2       Niranjan
3          riyan
Name: Name, dtype: object

- Padding

In [8]:
df['Name'].str.pad(width=20, side='left', fillchar='-')

0    -------------Monal K
1    -------------Bhuvika
2    ------------Niranjan
3    ---------------riyan
Name: Name, dtype: object

In [9]:
df['Name'].str.pad(width=20, side='right', fillchar='-')

0    Monal K-------------
1    Bhuvika-------------
2    Niranjan------------
3    riyan---------------
Name: Name, dtype: object

## Customization

- We can customize the default setting

In [16]:
# set default setting to show only 5 rows

pd.set_option('display.max_rows', 5)

df = pd.read_csv('D:\Btech_CS\Python\Pandas\Titanic-Dataset.csv')

df

<>:5: SyntaxWarning: invalid escape sequence '\B'
<>:5: SyntaxWarning: invalid escape sequence '\B'
C:\Users\darzu\AppData\Local\Temp\ipykernel_6944\1489618218.py:5: SyntaxWarning: invalid escape sequence '\B'
  df = pd.read_csv('D:\Btech_CS\Python\Pandas\Titanic-Dataset.csv')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
...,...,...,...,...,...,...,...,...,...,...,...,...
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [18]:
# Set float format to 2 decimal places

pd.set_option('display.float_format', '{:.2f}'.format)

df[['Fare','Age']]

     Fare   Age
0    7.25 22.00
1   71.28 38.00
..    ...   ...
889 30.00 26.00
890  7.75 32.00

[891 rows x 2 columns]

In [19]:
# Temporarily Set Option (Context Manager)
with pd.option_context('display.max_rows', 3):
    print(df)

     PassengerId  Survived  Pclass                     Name   Sex   Age  \
0              1         0       3  Braund, Mr. Owen Harris  male 22.00
..           ...       ...     ...                      ...   ...   ...
890          891         0       3      Dooley, Mr. Patrick  male 32.00

     SibSp  Parch     Ticket  Fare Cabin Embarked
0        1      0  A/5 21171  7.25   NaN        S
..     ...    ...        ...   ...   ...      ...
890      0      0     370376  7.75   NaN        Q

[891 rows x 12 columns]

In [20]:
# Resetting to Default
pd.reset_option('display.max_rows')

In [21]:
# You can also reset all options:
pd.reset_option('all')

C:\Users\darzu\AppData\Local\Temp\ipykernel_6944\4101167986.py:2: FutureWarning: data_manager option is deprecated and will be removed in a future version. Only the BlockManager will be available.
  pd.reset_option('all')
C:\Users\darzu\AppData\Local\Temp\ipykernel_6944\4101167986.py:2: FutureWarning: use_inf_as_na option is deprecated and will be removed in a future version. Convert inf values to NaN before operating instead.
  pd.reset_option('all')

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

In [22]:
# To avoid warning and error 
import warnings


with warnings.catch_warnings():
    warnings.simplefilter('ignore', FutureWarning)
    pd.reset_option('all')

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.